.loginbox{
  margin: 0;
  padding: 0;
  width: 400px;
  height: 480px;
  //background: #E8E8E8;
  color: #383838;
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid;
  border-color:  #E8E8E8;
  b
}
.loginButton{
  width:100%;
  padding: 70px;
}
/*
.loginbox p{
  font-size: 20px;
}
.input{
  width: 100%;
} */
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

  .md-block{
    padding: 20px;
  }
