<div ui-view md-scroll-y layout="row" layout-wrap flex role="main" class="master-view" id="dashboardid">
  <md-card flex="" ng-repeat="file in data | filterDashboard:uniqueManufacturer:uniqueStorage:uniqueOS:uniqueCamera " class="card" flex-gt-sm="30" ng-controller="dashboardCtr" style="margin-top: 3%;">
    <md-card-title>
      <md-card-title-text>
        <p style="font-weight:bold ">{{file.name}}</p>
      </md-card-title-text>
    </md-card-title>

          <img ng-src="{{file.image.small}}" class="md-card-image" alt="Washed Out" style="height:150,width:100" >
    <md-card-content>
        <p>Manufacturer : {{file.specs.manufacturer}}</p>
        <p>OS : {{file.specs.os}}</p>
        <p>Storage : {{file.specs.storage}}</p>
        <p>Camera : {{file.specs.camera}}</p>

    </md-card-content>

          <md-card-actions layout="row" >
            <div class="" flex="auto">
              <md-button ng-click="showAdvanced(file)" style="font-weight:bold;font-style:italic;margin:10px;">Buy</md-button>
            </div>
            <div class="" >
              <md-button ng-click="favourite(file)" style="font-weight:bold;font-style:italic;margin:10px;">
                <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/design/ic_shopping_cart_48px.svg" style="color:#696969;"></md-icon>
              </md-button>
            </div>
            <!-- <img src="bower_components/material-design-icons/icons8-us-dollar-80.png" alt="" style="height:20px;width:20px;"> -->
            <md-card-actions layout="row" layout-align="end" >
              <p style="font-weight:bold;"   > {{file.price | currency}}</p>
            </md-card-actions>
          </md-card-actions>
        </md-card>

</div>
