<div id="sidecolor" >

  <section>

    <md-sidenav  class="md-sidenav-left side"  md-component-id="left" id="hideSideBar" md-disable-backdrop style="position: fixed;" >

      <md-content>

        <md-subheader class="md-no-sticky">Manufacturer</md-subheader>
        <md-list-item ng-repeat="display in data | removeDuplicate:'manufacturer'">
          <p> {{ display }} </p>
          <md-checkbox aria-label="Manufacturer" class="md-secondary" ng-click="selectingValues(display,1)"></md-checkbox>

        </md-list-item>

        <md-divider style="background-color:#dbf0fd;"></md-divider>

        <md-subheader class="md-no-sticky">Storage</md-subheader>
        <md-list-item ng-repeat="display in data | removeDuplicate:'storage'">
          <p> {{ display }} </p>
          <md-checkbox aria-label="Storage" class="md-secondary" ng-click="selectingValues(display,2)"></md-checkbox>
        </md-list-item>

        <md-divider style="background-color:#dbf0fd;"></md-divider>

        <md-subheader class="md-no-sticky">OS</md-subheader>
        <md-list-item ng-repeat="display in data | removeDuplicate:'os'">
          <p> {{ display }} </p>
          <md-checkbox aria-label="OS" class="md-secondary" ng-click="selectingValues(display,3)"></md-checkbox>
        </md-list-item>

        <md-divider style="background-color:#dbf0fd;"></md-divider>

        <md-subheader class="md-no-sticky">Camera</md-subheader>
        <md-list-item ng-repeat="display in data | removeDuplicate:'camera'">
          <p> {{ display }} </p>
          <md-checkbox aria-label="Camera" class="md-secondary" ng-click="selectingValues(display,4)"></md-checkbox>
        </md-list-item>

        <md-divider style="background-color:#dbf0fd;"></md-divider>

      </md-content>

    </md-sidenav>

  </section>

</div>
